/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
}

.button {
  border-radius: 100px;
  margin: 0 1rem 1rem 1rem;
}

img {
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}

.hideme {
  opacity:0;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  bottom: 1rem;
  text-align: center;
}

.footer i {
  margin-left: 1rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  min-height: 100%;
  text-align: center;
}

.section-heading {
  padding: 4rem 2rem 2rem 2rem;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.description {
  padding-top: 40%;
}

/* Work
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.work {
  background-color: black;
  color: white;
}*/

.datetime {
  padding-top: 5rem;
  font-size: 2rem;
}

.job-description {
  padding-top: 4rem;
  text-align: left;
}

.job-description h2 {
  display: inline;
}

.job-description .button-white {
  background-color: white;
  color: black;
}

.workplace {
  display: inline-block
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.proj-title {
  padding: 2rem 0rem;
  text-align: left;
}

.proj-title h3 {
  display: inline;
}

.proj-description {
  text-align: left;
}

.proj-button {
  text-align: center;
}

.proj-image {
  padding: 2em 1em;
}

