/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
}

.button {
  border-radius: 100px;
  margin: 0 1rem 1rem 1rem;
}

.img-clickable:hover {
  opacity: 1.0;
}

.img-clickable {
  opacity: 0.8;
}

.img-profile {
  padding: 1em 1em;
  border-radius: 50%;
  max-width: 200px;
}

.hideme {
  opacity:0;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 400px) {
  .footer {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    bottom: 1rem;
    text-align: center;
  }
}

.footer {
  padding: 2rem 1rem;
}

.footer i {
  margin-left: 1rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  min-height: 100%;
  text-align: center;
}

.section-heading {
  padding: 4rem 2rem 2rem 2rem;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.description {
  padding-top: 15%;
}

/* Work
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*.work {
  background-color: black;
  color: white;
}*/

.datetime {
  padding-top: 3rem;
  font-size: 2rem;
}

@media (min-width: 400px) {
  .job-description {
    padding-top: 2rem;
  }
}

.job-description {
  text-align: left;
}

.job-description h2 {
  display: inline;
}

@media (min-width: 400px) {
  .job-image {
    padding: 2em 1em;
    height: auto;
  }
}

.job-image {
  padding: 1em 1em;
}

.job-description .button-white {
  background-color: white;
  color: black;
}

.workplace {
  display: inline-block
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.proj-title {
  padding: 2rem 0rem;
  text-align: left;
}

.proj-title h3 {
  display: inline;
}

.proj-description {
  text-align: left;
}

.proj-button {
  text-align: center;
}

.proj-image {
  padding: 2em 1em;
}

